
<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="/home/index" class="logo">Ge<strong>O</strong>talk</a>
			<!--<nav id="nav">
				<a href="index.html">Home</a>
				<a href="generic.html">Generic</a>
				<a href="elements.html">Elements</a>
			</nav>-->
			<!--.-->
		</div>
	</header>

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>Trip together!!</h1>
			</header>

			<div class="flex ">

				<div>
					<span class="icon fa-car"></span>
					<h3>정보공유</h3>
					<p>같은 나라를 여행하는 타인과 정보를 공유할 수 있습니다.</p>
				</div>

				<div>
					<span class="icon fa-camera"></span>
					<h3>사진공유</h3>
					<p>여행자와 서로의 경험을 나눌 수 있습니다.</p>
				</div>

				<!--<div>
					<span class="icon fa-bug"></span>
					<h3>Ultrices</h3>
					<p>Nulla vitae mauris non felis</p>
				</div>-->

			</div>
      <!-- 내 주변 채팅 -->
			<footer>
			  <!--messagebox
			  <!-- 국내 여행은 추후 개발 합시다 -->
			  			  <!--messagebox-->
				<a href="/home/list" data-confirm="'https://www.geotlak.xyz'에서 현재 위치정보를 사용하고자 합니다" class="button ajax_list">내여행지 오픈카톡</a>
			</footer><br>
			<footer>


				<a href="/home/create" data-confirm="'https://www.geotalk.xyz'에서 현재 위치정보를 사용하고자 합니다" class="button">오픈카톡 공유하기</a>
			</footer>
		</div>
	</section>


<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="">
				<article>
					<div class="image round">
						<img src="/assets/pic02.jpg" alt="Pic 01" />
					</div>
					<header>
						<h3>카카오톡의 오픈카톡 서비스를 지역별 공유</h3>
					</header>
  					<p>Geotalk은 지역기반 서비스로서 사용자의 위치를 요청합니다.</p><br>
  					<p>오직 나와 같은 지역으로 여행하는 여행자와 오픈카톡을 공유하여 정보를 나눌 수 있습니다.<p><br>
  					<p>사용자의 지역정보는 오픈카톡 분류의 목적에 이용되며 이외의 용도로는 사용되지 않습니다.</p>
					<footer>
						<a href="/home/list" class="button">내 여행지 오픈카톡 보기</a>
					</footer>
				</article>
				<!--<article>
					<div class="image round">
						<img src="/assets/pic02.jpg" alt="Pic 02" />
					</div>
					<header>
						<h3>Sed feugiat<br /> tempus adipicsing</h3>
					</header>
					<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>-->
			</div>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			
			<div class="copyright">
				&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
			</div>

		</div>
	</footer>
